.section-header{
    text-align: center;
    vertical-align: middle;
    
}

#magneg{
    background: url('../images/magneg.png');
    background-position: center center;
    background-size: cover;
}

.section-heading{
    border-bottom: .1em solid;
    border-color: $accent;
}

.section-sub-heading {
    text-transform: uppercase;
}

.layer{
    background-color: rgba(48, 134, 149, 0.8);;
    top: 0;
    left: 0;
    width: 100%;
}

.section-content{
    padding: 0px 100px;
}

.content {
    margin: 3em 10em;
}

.pallette {
    height: 250px;
    border-radius: 50%;
    background-color: $primary;
}

.space {
    margin-left: 80px
  }
